{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
	Accueil
{% endblock %}

{% block content %}
<div class="page_index">

    <h1>Bienvenue sur Mars !</h1>

    <div class="robots"
    </div>
</div>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}
