{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
	Accueil
{% endblock %}

{% block content %}
<div class="page_index">



      <div class="robots">

      <section id="boot">

        <div class="flex-container">
          <div>
            <img src="/assets/images/Spirit01.png" alt="" width="230" />
            
          </div>

          
          <div>
            <img src="/assets/images/curiosity02.png" alt="" width="480" />
            
          </div>
          <div>
          <a href="/Opportunity/picsOpportunity"><img src="/assets/images/Perseverance02.png" alt="Opportunity" width="350" ></a>
            
          </div>

      </section>
      </div>
</div>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}
