{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
	Accueil
{% endblock %}

{% block content %}
<div class="page_index">



      <div class="robots">

      <section id="boot">

        <div class="flex-container">
          <div>
          <a href="/Opportunity/picsOpportunity"><img src="/assets/images/Perseverance02.png" alt="rover Opportunity" width="350" ></a>
            
          </div>
          <div>
           <a href="/Spirit/picsSpirit"><img src="/assets/images/Spirit01.png" alt="rover Spirit" width="230" /></a>
            
          </div>
          <div>
            <a href="/Curiosity/picsCuriosity"><img src="/assets/images/curiosity02.png" alt="rover Curiosity" width="480" /></a>
            
          </div>

      </section>
      </div>
</div>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}
