{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
	Accueil
{% endblock %}

{% block content %}
	<div class="page_index">


		<section id="boot">


			<a href="/Spirit/picsSpirit">
			<img src="/assets/images/Spirit01.png" title="Spirit" alt="" class="robots"/></a>


			<a href="/Curiosity/picsCuriosity">
			<img src="/assets/images/curiosity02.png" title="Curiosity" alt="" class="robots"/></a>


			<a href="/Opportunity/picsOpportunity">
				<img src="/assets/images/Perseverance02.png" title="Opportunity" alt="" class="robots">
			</a>


		</section>

	</div>
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}
