<header>

    <nav class="nav-header">
        <div class="logo">
            <a href="../../home/index"> <img src="/assets/images/Logo.svg" alt="logo"></a>
        </div>
        
        <div class="nav-links">
        <img src="" alt="" class="logo-menu">
            <ul class="liste-nav">
                <li class="item-nav" ><a href="/home/index">Accueil</a>
                <li class="item-nav"><a href="#">Photo au hasard</a>
                <li class="item-nav"><a href="/PicsDay/form">Photo birthday</a></li>
                <li class="item-nav"><a href="../../Message/message">Message aux robots </a>
            </ul>
            
        </div>
    </nav>
</header>